{% extends 'shop/basic.html' %}

{% block title %} About Us {% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Shopify</h1>
      <p>Shopify is Indian company based in Pune, with 840,000 employees.It focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is considered one of the Big Four technology companies, along with Google, Apple, and Facebook. It has been referred to as "one of the most influential economic and cultural forces in the world."
          Shopify is known for its disruption of well-established industries through technological innovation and mass scale.It is the world's largest online marketplace, AI assistant provider, and cloud computing platform as measured by revenue and market capitalization. Shopify is the largest E Commerce company by revenue in the world. It is the second largest private employer in India and one of the world's most valuable companies. </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

</main>


{% endblock %}